.AppHeader, .AppForm, .TodoList {
  margin: 20px auto 40px;
  text-align: center;
}

.TodoList{
  width: 30%;
  padding: 5px;
  list-style-type: none;
  border: 1px solid cornflowerblue;
}

.TodoItem{
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid black;
}

.RemoveItem{
  padding: 5px;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  font-size: 10px;
  border-radius: 5px;
  height: 20px;
  margin-top: 15px;
}
